<div class="game-container" @onclick="_gameManager.StartGame">
    <div class="sky">
        <BirdView Model="@_gameManager.Bird"></BirdView>
    </div>
    <div class="ground"></div>

    <PipeView Model="@_gameManager.Pipe"></PipeView>
</div>

@code
{
    GameManager _gameManager;

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }
}
